p {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color:red;
}

h3 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

h6 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700; 
}

li {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.motto {
    color: white;
    font-size: 65px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#gradient {
    background: linear-gradient(150deg, #2c35c9,#4b50be, #ffffff);
    height: 600px;
    width: 100%;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2c35c9; 
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav-item {
    display: block;
    float: left;
    color: white;
    margin: 28px 30px;
    font-size: 20px;
}

a, a:link, a:visited{
    color: white;
    text-decoration: none;
}

a:hover {
    color: #2c35c9;
    background-color: white;
    text-decoration: none;
}

.schoolBG {
    position: relative;
    width: 100%;
    height: 600px;
    filter: opacity(80%);
}

#our-story {
    position: absolute;
    top: 90px;
    left: 55%;
    background-color: white;
    width: 45%;
    height: 600px;
    color: #2c35c9;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    padding-top: 30px;
    background-color: #2c35c9;
    color: white;
    text-align:center;
}

footer {
    background-color: #2c35c9;
    height: 250px;
    color: white;
}

.column {
    margin-top: 50px;
    float: left;
    width: 33.33%;
    text-align: center;
}




