h1 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 10px;
    font-weight: 700;
}

#gradient {
    background: linear-gradient(135deg, #0017ff, #ffffff);
    height: 400px;
    width: 100%;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2c35c9; 
    height: 100px;
}

.nav-item {
    display: block;
    float: left;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 28px 30px;
    font-size: 20px;
}

a, a:link, a:visited{
    color: white;
    text-decoration: none;
}

a:hover {
    color: #2c35c9;
    background-color: white;
}




